{% extends "PosUserBundle::user.html.twig" %}
 
{% block content %}
 
    {#<h3>user : {{user.id}}</h3>#}

    <div class="content-error">
        {% for key, flashMessages in app.session.FlashBag.all() %}
            {% for flashMessage in flashMessages %}
            <div class="alert alert-{{key}}">
               {{ flashMessage }}
            </div>
            {% endfor %}
        {% endfor %}
        
    </div>
    <div class="form">
       <form action="{{ path('pos_user_manage_edit', {'id': id }) }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-primary" />
            
            
        </form>
    </div>
 
{% endblock %}

