{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
   <div class="form-label">
    {{ parent() }}

    {% if required %}
        <span class="required-field" title="Ce champ est obligatoire">*</span>
    {% endif %}
   </div>
{% endblock %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" class="form-control" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}


{#
{% block form_row %}
    {% spaceless %}
        <div>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
#}