{% extends "::layout.html.twig" %}

{% block stylesheets %}

    {{parent() }}
    {%stylesheets output='css/compiled/customer.css' filter='cssrewrite'
                "bundles/poscustomer/css/*"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}
{% block javascripts %}
    {{parent() }}
    {%stylesheets output='js/compiled/customer.js'
                "bundles/poscustomer/js/*"
    %}
        <script type="text/javascript" src="{{ asset_url }}" /></script>
    {% endstylesheets %}
{% endblock %}

{% block leftmenu %}
    <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('pos_customer_manage') }}">Liste des clients</a></li>
            {#<li><a href="{{ path('pos_user_manage_adduser') }}">Ajouter un utilisateur</a></li>#}
    </ul>
{% endblock %}