{% extends "PosCustomerBundle::customer.html.twig" %}
 
{% block content %}
 
    <h3>welcome to manage customer</h3>

    {% include "PosCustomerBundle::alert.html.twig" %}

    <table id="userTable" class="table table-striped table-hover table-condensed">
        <thead>
            <tr><td class="">id</td><td>Nom</td><td>Pr&eacute;nom</td><td>action</td></tr> 
        </thead>
        <tbody>
            {% for customer in pagination %}
                <tr><td>{{customer.id}}</td>
                    <td>{{customer.lastname}}</td>
                    <td>{{customer.firstname}}</td>
                    <td>
                        <a href="{{ path('pos_customer_manage_view', {'id': customer.id }) }}" class="btn"><i class="icon-edit"></i></a>
                        <a href="{{ path('pos_customer_manage_edit', {'id': customer.id }) }}" class="btn"><i class="icon-eye-open"></i></a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}

