{% extends "PosProductBundle::layout.html.twig" %}

{% block content %}

    {% include "PosProductBundle::alert.html.twig" %}

    <div class="form">
        <form action="{{ path('pos_product_manage_edit', {'product_id': id }) }}" {{ form_enctype(form) }} method="POST">
            {# {{ form_widget(form) }} #}
            {% form_theme form 'PosHomeBundle:Form:form_theme_layout.html.twig' %}
            <div class="product-form-button">
                {{ form_widget(form.Enregistrer) }}
            </div>

            <div class="left form-group">

                <fieldset>
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </fieldset>


                <fieldset class="textAndButton">

                    {{ form_label(form.barcode) }}
                    {{ form_errors(form.barcode) }}
                    {{ form_widget(form.barcode) }}
                    {{ form_widget(form.generate) }}

                </fieldset>

                <fieldset>
                    {{ form_label(form.description) }}
                    {{ form_errors(form.description) }}
                    {{ form_widget(form.description) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.utilization) }}
                    {{ form_errors(form.utilization) }}
                    {{ form_widget(form.utilization) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.typesetting) }}
                    {{ form_errors(form.typesetting) }}
                    {{ form_widget(form.typesetting) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.purchasePrice) }}
                    {{ form_errors(form.purchasePrice) }}
                    {{ form_widget(form.purchasePrice) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.salePrice) }}
                    {{ form_errors(form.salePrice) }}
                    {{ form_widget(form.salePrice) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.quantity) }}
                    {{ form_errors(form.quantity) }}
                    {{ form_widget(form.quantity) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.stockToSupply) }}
                    {{ form_errors(form.stockToSupply) }}
                    {{ form_widget(form.stockToSupply) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.restockingSupplier) }}
                    {{ form_errors(form.restockingSupplier) }}
                    {{ form_widget(form.restockingSupplier) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.bookedQuantity) }}
                    {{ form_errors(form.bookedQuantity) }}
                    {{ form_widget(form.bookedQuantity) }}
                </fieldset>

                {{ form_rest(form) }}

            </div>

            {{ form_rest(form) }}
        </form>
    </div>

{% endblock %}

