{% extends "PosProductBundle::layout.html.twig" %}


{% block content %}

    <h3>welcome to manage product</h3>

    {% include "PosProductBundle::alert.html.twig" %}

    <table id="userTable" class="table table-striped table-hover table-condensed">
        <thead>
        <tr><td class="">id</td><td>Nom</td><td>barcode</td><td>action</td></tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr><td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.barcode}}</td>
                <td>
                   <a href="{{ path('pos_product_manage_view', {'product_id': product.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-eye-open"></i></a>
                   <a href="{{ path('pos_product_manage_edit', {'product_id': product.id }) }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-edit icon-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
